.Gamediv {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 5px;
  width: 90%;
  justify-content: space-around;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
.extraImgessGame {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 5px;
  width: 65%;
  justify-content: space-evenly;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  /* position: relative;
    left: 350px;
    top: 100px; */
}
.divExtraIMG {
  width: 20%;
}
.extraImgGame {
  width: 100%;
  height: 300px;
  border-radius: 30px;
}

.imgGame {
  width: 200px;
  height: 200px;
  border-radius: 50px;
}

.inputComment {
  width: 300px;
}
.buttonComment {
  position: relative;
  top: 10px;
  width: 40px;
  height: 40px;
  background-color: #e7e7e7;
  color: black;
  font-size: 20px;
  border-radius: 8px;
}
.video1 {
  width: 800px;
  margin-left: 30px;
  height: 400px;
}

.divContainerCE {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.divAddCommentAndReating {
  /* border-radius: 50px; */
  border: 1px solid black;
  /* position: relative;
    right: 10px;
    bottom:  200px; */
  width: 30%;
  height: 400px;
}

.commentsCont {
  height: 300px;
  overflow-y: auto;
}

.adminDiv {
  border: solid 1px black;
  width: 200px;
  height: 400px;
}
.buttonUpdate {
  width: 200px;
}
@media (max-width: 768px) {
  .Gamediv {
    border-radius: 4px;
    padding: 5px;
    width: 90%;
  }

  .divContainerCE {
    flex-direction: column;

  }

  .extraImgessGame {
    flex-direction: column;
    
  }
  .extraImgGame {
      width: 300px;
  }

  .imgGame {
    width: 200px;
    height: 200px;
    border-radius: 50px;
  }
  .inputComment {
    width: 100px;
  }
  .buttonComment {
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
    background-color: #e7e7e7;
    color: black;
    font-size: 20px;
    border-radius: 8px;
  }
  .video1 {
    width: 300px;
    margin-left: 20px;
  }
  .divAddCommentAndReating {
    /* border-radius: 50px; */
    border: 1px solid black;
    
    width: 300px;
    height: 400px;
  }

  .commentsCont {
    height: 300px;
    overflow-y: auto;
  }
}
